@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@theme (
  --font-display: "Delius", "cursive";
  --breakpoint-3xl: 1920px;
  --color-primary: #1268EC;
)

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}